*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E5E7EB;
}
label, input{
    display: flex;
}

label{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

form{
    background-color: #ffff;
}
input{
    margin-top: 7px;
    height: 25px;
    width: 235px;
    padding-left: 12px;
    font-size: 17px;
    outline: 1px solid #E5E7EB;
}

input:focus{
    outline: 1px solid blue;
}
input:user-invalid{
    outline: 1px solid red;
}

.invitaion{
    font-size: 2rem;
    margin-bottom: 25px;
}

.form-input{
    margin-bottom: 25px;
}

.form-section{
    display: flex;
    gap: 9rem;
}

.create-user{
    margin-top: 25px;
    font-size: 20px;
    padding: 13px 45px;
    background-color: #596D48;
    color: #ffff;
    border: none;
    border-radius: 12px;
}

.introduction{
    margin-bottom: 23px;
    font-size: 2rem;
    font-weight: 800;
    max-width: 635px;
}

div.introduction + div{
    padding-bottom: 33px;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}